#site-header {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: _palette(whitelink);
  position: relative;

  #top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: _layers(sitenav);
    transition: background ease 400ms;

    &.is-mini {
      background: #000;

      .top-bar-container {
        transform: translate3d(0, 0, 0);
      }

      #site-logo {
        top: 0.5em;
        .custom-logo {
          transform: scale(0.7);
        }
      }
    }
  }

  .top-bar-container {
    padding: 0.25em 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    transform: translate3d(0, 1em, 0);
    transition: transform ease-in-out 300ms;
  }

  .top-bar__contact {
    color: _palette(whitelink);
    font-weight: 500;
    font-size: 0.85em;
  }

  #site-logo {
    position: absolute;
    top: 0.75em;
    left: 50%;
    transform: translateX(-50%);
    transition: top ease-in-out 300ms;

    .custom-logo {
      transition: transform ease 400ms;
      max-width: 200px;
    }
  }

  .hero-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    @include mq($from: mobile, $until: tablet) {
      width: 90%;
    }

    .hero-main__button {
      margin-top: 5em;
      text-align: center;
    }

    & .hero-main__headline {
      text-align: center;
      font-family: _fonts(headings);
      font-weight: normal;
      font-size: 4em;
      color: _palette(whitelink);
      margin: 0;

      @include mq($from: mobile, $until: tablet) {
        font-size: 3em;
      }
    }
  }
}
