@font-face {
  font-family: "Ananda";
  src: local("Ananda"), url("../fonts/Ananda.woff2") format("woff2"),
    url("../fonts/Ananda.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ananda";
  src: local("Ananda Black"), local("AnandaBlack"),
    url("../fonts/AnandaBlack.woff2") format("woff2"),
    url("../fonts/AnandaBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham-Bold"), url("../fonts/Gotham-Bold.woff2") format("woff2"),
    url("../fonts/Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham-Book"), url("../fonts/Gotham-Book.woff2") format("woff2"),
    url("../fonts/Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham-Medium"),
    url("../fonts/Gotham-Medium.woff2") format("woff2"),
    url("../fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham-Thin"), url("../fonts/Gotham-Thin.woff2") format("woff2"),
    url("../fonts/Gotham-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
