
{# Base Nav Template #}

{% if menu %}
<nav class="site-nav">
  <ul>
    {% for item in menu %}
    <li>
      <a href="{{ item.link }}">{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
