{# Base Nav Template #}
{% if menu %}
<nav id="navigation" class="site-nav">
  <ul>
    {% for item in menu %}
    <li class="{{ item.current ? 'is-active' : ''}}">
      <a href="{{ item.link }}">{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav> 
{% endif %}
