#menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.92);
  align-items: center;
  justify-content: center;
  transition: all 200ms ease;
  opacity: 0;
  display: none;
  z-index: _layers(menumobile);

  // &.is-visible {
  //   opacity: 1;
  //   pointer-events: all;
  //   visibility: visible;
  //   display: flex;
  // }

  .menu-mobile-container {
    padding: 1em;
    width: 100%;
    max-width: 400px;
    color: #fff;
    position: relative;

    .menu-links-container {
      max-height: 100vh;
      overflow: auto;

      // ::-webkit-scrollbar {
      //   width: 6px;
      //   height: 6px;
      // }
      // ::-webkit-scrollbar-button {
      //   width: 0px;
      //   height: 0px;
      // }
      // ::-webkit-scrollbar-thumb {
      //   background: #5f5f5f;
      //   border: 0px none #ffffff;
      //   border-radius: 23px;
      // }
      // ::-webkit-scrollbar-thumb:hover {
      //   background: #6c6c6c;
      // }
      // ::-webkit-scrollbar-thumb:active {
      //   background: #000000;
      // }
      // ::-webkit-scrollbar-track {
      //   background: #2e2e2e;
      //   border: 0px none #ffffff;
      //   border-radius: 25px;
      // }
      // ::-webkit-scrollbar-track:hover {
      //   background: #2e2e2e;
      // }
      // ::-webkit-scrollbar-track:active {
      //   background: #333333;
      // }
      // ::-webkit-scrollbar-corner {
      //   background: transparent;
      // }
    }

    ul {
      padding: 0;
      li {
        list-style-type: none;
      }
    }

    .menu-title {
      font-size: 1.2em;
      // margin: 0 0 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      // font-family: _fonts(headings);
      // position: absolute;
      // left: -20%;
      color: #ccc;
      margin-left: 11px;

      // @include mq($from: mobile, $until: mobilelg) {
      //   position: static;
      // }
    }

    .menu-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        margin: 0 16px 24px;
      }
      .menu-link {
        color: _palette(whitelink);
        font-size: 2.4em;
        text-decoration: none;
        font-weight: 300;
        display: inline-block;
        padding: 0 0.25em 0.25em;
        position: relative;
        overflow: hidden;

        &:hover::before {
          right: 0;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          height: 4px;
          width: 100%;
          background: _palette(primary);

          right: 100%;
          transition: right 1000ms cubic-bezier(0.26, 0.67, 0.18, 0.94);
        }

        &.is-active {
          font-weight: 400;
        }
      }
    }
  }
}
