@mixin pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#pagination .pagination {
  @include pagination;

  .pagination-pages {
    @include pagination;
    list-style-type: none;
    padding: 0;
  }

  a {
    padding: 1em;
    text-decoration: none;
    color: lighten(_palette(blacklink), 40%);
    text-transform: uppercase;
    font-size: 0.88em;
    font-weight: 450;

    &:hover {
      color: _palette(blacklink);
    }

    &.current {
      color: _palette(primary);
    }
  }
}
