{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{# Additional Headers #}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig" id="site-top">
	{% block header %}
		{% include 'headers/header.twig' with { role: "banner" } %}
	{% endblock %}
	
	<section id="content" role="main" class="container">
		{% block content %}
			No content available
		{% endblock %}
	</section>

	{% block footer %}
		{% include 'footer.twig' %}
		{{ function('wp_footer') }}
	{% endblock %}

	{% block mobile_menu %}
		{% include "/partial/menu-mobile.twig" %}
	{% endblock %}
</body>

</html>
