<footer id="site-footer" style="background-image: url('{{ footer_bg | e('esc_url') | relative }}')">

  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-3">
          images and info
        </div>
        <div class="col-auto">
          quicklinks
        </div>
        <div class="col-md-5">
          googlemap widget
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid footer-bottom">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-auto">
          Copyright &copy; {{ now | date('Y') }} Tita Auring's. All Rights Reserved
        </div>
        <div class="col-auto">
          Powered by: <a class="footer_link" href="https://www.redkite.com.ph" target="_blank" rel="nofollow">Redkite</a>
        </div>
      </div>
    </div>
  </div>

</footer>