<footer id="site-footer" style="background-image: url('{{ footer_bg | e('esc_url') | relative }}')">

  <div class="footer-top">
    <div class="container">
    footer-top
    </div>
  </div>
  <div class="container-fluid footer-bottom">
    <div class="container">
      copyright
    </div>
  </div>

</footer>