{% extends "base.twig" %}

{% block content %}
	<section id="post-{{post.ID}}" class="section container post-type-{{post.post_type}}">
		<div class="row">	
			<div class="col-md-12">
				<h1 class="page-title">{{ post.title }}</h1>
				<div class="page-body">
					<div class="row">
						<div class="col-md-8">
							{{ post.content }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}